*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,Helvetica,sans-serif;

background:linear-gradient(135deg,#0d1226,#243ea8);

color:white;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 60px;

}

.logo{

font-size:36px;

font-weight:bold;

}

.right-section{

display:flex;

align-items:center;

gap:25px;

}

.live-status{

display:flex;

align-items:center;

gap:10px;

font-size:20px;

font-weight:bold;

}

.live-dot{

width:14px;

height:14px;

border-radius:50%;

background:#00ff7f;

}

.profile-image{

width:65px;

height:65px;

border-radius:50%;

object-fit:cover;

border:3px solid #4F8CFF;

box-shadow:0 0 20px rgba(0,170,255,.5);

transition:.4s;

cursor:pointer;

}

.profile-image:hover{

transform:scale(1.08);

box-shadow:0 0 30px rgba(0,170,255,.8);

}

.hero{

text-align:center;

padding:100px 30px;

}

.hero h1{

font-size:72px;

margin-bottom:20px;

}

.hero p{

font-size:28px;

color:#d7d7d7;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

padding:50px;

}

.card{

background:#1d2435;

padding:35px;

border-radius:18px;

border:1px solid rgba(255,255,255,.1);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h2{

margin-bottom:15px;

font-size:30px;

}

.card p{

font-size:26px;

}

.healthy{

color:#00ff7f;

font-weight:bold;

}

.stack{

padding:80px 50px;

text-align:center;

}

.stack h1{

font-size:56px;

margin-bottom:40px;

}

.badges{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

}

.badges span{

padding:15px 30px;

background:#182033;

border-radius:10px;

font-size:22px;

}

footer{

margin-top:80px;

padding:70px 10%;

background:#080d1d;

border-top:1px solid rgba(255,255,255,.1);

}

.footer-container{

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

gap:60px;

}

.about{

max-width:650px;

}

.footer-image{

width:100px;

height:100px;

border-radius:50%;

margin-bottom:20px;

border:3px solid #4F8CFF;

object-fit:cover;

box-shadow:0 0 20px rgba(0,170,255,.5);

}

.about h2{

font-size:36px;

margin-bottom:15px;

}

.about p{

font-size:20px;

line-height:1.8;

color:#d0d0d0;

}

.contact{

display:flex;

flex-direction:column;

gap:20px;

}

.contact h3{

font-size:30px;

}

.contact a{

color:white;

text-decoration:none;

font-size:22px;

transition:.3s;

}

.contact a:hover{

color:#00d4ff;

}

.copyright{

margin-top:50px;

text-align:center;

font-size:18px;

color:#888;

}
